<!DOCTYPE html>
@model PRI_NaszSamochód.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<html>

<head>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@

    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/main.css">

    <title>Strona logowania</title>
</head>
<body class="loginPageBody">
<div class="loginPage-container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <ul class="flex-outer">
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <li>
                <label for="inputName">Imię: </label>
            </li>
            <li>
                <label for="inputName">Nazwisko: </label>
            </li>
            <li>
                <label for="inputPhone">Numer telefonu: </label>
            </li>
            <li>
                <label for="inputEmail">E-mail: </label>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </li>
            <li>
                <label for="inputPassword">Hasło: </label>
                @Html.PasswordFor(m => m.Password)

            </li>
            <li>
                <label for="inputConfirmedPassword">Powtórz hasło: </label>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </li>

            <li>
                <button type="submit" class="btn-success" value="Register">Zarejestruj się</button>
            </li>
          </ul>
    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="~/Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>