@using PRI_NaszSamochód.Models
@model PostViewModelList


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/Content/node_modules/jscroll/jquery.jscroll.min.js"></script>*@
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/userPage.css" />
    @*@Scripts.Render("~/Content/js/custom/infiniteScroll.js")*@
    @Scripts.Render("~/Content/node_modules/jscroll/jquery.jscroll.min.js")


    <title>Profil użytkownika</title>
</head>

<body>
  
<button type="submit" class="btn-success" value="AddPost" id="AddPost" onclick="AddPost()">Dodaj Post</button>
<div class="container-flex" id="scrollIt">
    <div class="wall-flex">
        @foreach (var post in Model.GetPostViewModels())
        {

            <div class="post">
                <div class="postHeader">
                    <ul>
                        <li>
                            <div class="userProfilePhoto userProfilePhotoSmall" style="background-image:url(@post.CreatorPhoto)"></div></li>
                        <li>
                            <p>@post.Creator.Name + @post.Creator.Surname
                            <p></li>
                        <li>
                            <p>@post.</p></li>
                    </ul>
                </div>
                <div class="postContent">
                    <p class="postText">@post.Text</p>
                </div>
                <button class="btn-success btn-like">Poleć!</button>
            </div>
        }

    </div>

</div>
</body>


</html>


<script>
    function AddPost() {
        var page = "/Wall/AddPostView";

        var $dialog = $("<div></div>")
            .html('<iframe style="border: 5px; background-color:#e9e9e9; " src="' + page +
            '" width="100%" height="100%"></iframe>').dialog({
                autoOpen: true,
                modal: true,
                height: 300,
                width: 300,
                title: "Dodaj Post"
            });
        

    }

</script>