@using PRI_NaszSamochód.Models
@model PostViewModelList


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/userPage.css" />
    <link rel="stylesheet" href="~/Content/css/wall.css" />
    @*@Scripts.Render("~/Content/js/custom/infiniteScroll.js")*@
    @Scripts.Render("~/Content/node_modules/jscroll/jquery.jscroll.min.js")


    <title>Profil użytkownika</title>
</head>

<body>
  

<div class="flex-add-button">
    <button type="submit" class="btn-success" value="AddPost" id="AddPost" onclick="AddPost()">Dodaj Post</button>
</div>
<div class="container-flex" id="scrollIt">
    <div class="wall-flex">
        @foreach (var post in Model.GetPostViewModels())
        {


            <div class="post" ng-controller="PostController" >
                <div class="postHeader" ng-click="PostClicked($event)" id="@post.Creator.Id">
                    <ul>
                        <li>
                            <div class="userProfilePhoto userProfilePhotoSmall" style="background-image:url(@post.CreatorPhoto)"></div></li>
                        <li>
                            <p>@post.Creator.Name  @post.Creator.Surname
                            <p></li>
                        <li>
                            <p></p></li>
                    </ul>
                </div>
                <div class="postContent">
                    <p class="postText">@post.Text</p>
                </div>
                <button class="btn-success btn-like">Poleć!</button>
            </div>
        }

    </div>

</div>
</body>


</html>


<script>
    function AddPost() {
        var page = "/Wall/AddPostView";

        var $dialog = $("<div class='newPostDialog'></div>")
            .html('<iframe scrolling="no" src="' + page +
            '" width="100%" height="100%"></iframe>').dialog({
                autoOpen: true,
                modal: true,
                width: 650,
                height: 350,
                title: "Dodaj Post",
                resizable: false
            });
        
    }
</script>