@using PRI_NaszSamochód.Models
@model GroupModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <title>Dodaj nową grupę</title>

</head>
<body>
    <h1>Dodaj nową grupę</h1>
    @*what path?*@
    @using (Html.BeginForm("AddNewGroup", "Groups", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                <label>Nazwa grupy: </label>
                @Html.TextBoxFor(m => m.GroupName)
            </li>
        
            <li>
                <label>Opis: </label>
                @Html.TextBoxFor(m => m.Description)
            </li>

            <li>
                <label>Temat: </label>
                @Html.TextBoxFor(m => m.GroupTheme)
            </li>

            <li><button type="submit" class="btn-success" value="Create">Utwórz grupe</button></li>
        </ul>

    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>