@using PRI_NaszSamochód.Models
@model GroupViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/userPage.css" />
    <link rel="stylesheet" href="~/Content/css/wall.css"/>
    <link rel="stylesheet" href="~/Content/css/groups.css" />
    @Scripts.Render("~/Content/js/custom/infiniteScroll.js")
    @Scripts.Render("~/Content/node_modules/jscroll/jquery.jscroll.min.js")


    <title>GroupContent</title>
</head>

<body>

    <div class="container-flex" id="scrollIt">
        @*wall.css*@
        <div class="flex-add-button">
            <button type="submit" class="btn-success" value="AddPost" id="AddPost" onclick="AddPost();" >Dodaj Post</button>
            <button class="btn-success" ui-sref="Groups/Details" ui-sref-active="active" id="groupDetails" onclick="@("window.location.href='" + @Url.Action("GroupDetails","Groups",new { id = ViewBag.groupId } ) + "'");" >Wyświetl szczegóły grupy</button>
            @*<input type="button" value="Szczegóły" onclick="@("window.location.href='" + @Url.Action("GroupDetails","Groups",new { id = ViewBag.groupId } ) + "'");" />
            <input type="button" value="Dodaj post" onclick="@("window.location.href='" + @Url.Action("AddPostView","Groups",new { id = ViewBag.groupId } ) + "'");" />*@
        </div>
        
        @*<div class="add-post" id="add-post">
            <button onclick="window.location.href='../AddPostView'" class="btn-success">Dodaj post</button>
        </div>*@
        <div class="wall-flex">
            @foreach (var post in Model.LatestPosts)
            {
                <div class="post">
                    <div class="postHeader">
                        <ul>
                            <li><div class="userProfilePhoto userProfilePhotoSmall" style="background-image:url(@post.CreatorPhoto)"></div></li>
                            <li><p>@post.Creator.Name @post.Creator.Surname<p></li>
                            <li><p>@*1 godz.*@</p></li>
                        </ul>
                    </div>
                    <div class="postContent">
                        <p class="postText">@post.Text</p>
                    </div>
                    <button class="btn-success btn-like">Poleć!</button>
                </div>
            }
        </div>

    </div>
    <script>
        function AddPost() {
            var id = window.GroupId;
            var page = "/Groups/AddPostView?groupId=" + id + "";

        var $dialog = $("<div class='newPostDialog'></div>")
            .html('<iframe scrolling="no" src="' + page +
            '" width="100%" height="100%"></iframe>').dialog({
                autoOpen: true,
                modal: true,
                width: 650,
                height: 350,
                title: "Dodaj Post",
                resizable: false,

            }).on('dialogclose', function (event) {
                location.reload();
                //var ang = angular.element(".container-flex").injector();
                //ang.invoke(function ($state) {
                //    $state.reload();
                //});
            })
    }
    </script>
</body>
</html>