@using PRI_NaszSamochód.Models
@model GroupViewModel

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/groups.css" />
        <title>Dodaj nową grupę</title>

    <title>Szczegóły</title>

</head>
<body>
    <ul class="addNewGroup">
        <li>
            <label>Nazwa grupy: </label>
            <label>@Html.ViewData.Model.Name</label>
        </li>

        <li>
            <label>Opis: </label>
            <label>@Model.Description</label>
        </li>

        <li>
            <label>Temat: </label>
            <label>@Model.Theme</label>
        </li>
        <li>
            <label>Członkowie: </label>
            @foreach (var i in Model.Members)
            {
                <label>@i.User.Name</label>
            }
        </li>
    </ul>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>