@using PRI_NaszSamochód.Models
@model GroupViewModel

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/groups.css" />
        <title>Dodaj nową grupę</title>

    <title>Dodaj nową grupę</title>

</head>
<body>
    <div>
        <label>Nazwa grupy: </label>
        <label>@Html.ViewData.Model.Name</label>
    </div>

    <div>
        <label>Opis: </label>
        <label>@Html.ViewData.Model.Description</label>
    </div>

    <div>
        <label>Temat: </label>
        <label>@Html.ViewData.Model.Theme</label>
    </div>
    <div>
        <label>Członkowie: </label>
        @foreach(var i in @Html.ViewData.Model.Members)
        {
            <label>@i.Name</label>
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>