
<!DOCTYPE html>
@using Microsoft.AspNet.Identity
@using PRI_NaszSamochód
@model PRI_NaszSamochód.Models.ProfileViewModel
@{
    string editable = @Model.User.Id.Equals(Context.User.Identity.GetUserId()).ToString();
}
 
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/userPage.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Informacje</title>
      
    </head>
    <body>
        <div class="flex-container">
            <ul class="info">
                <li contenteditable="@editable" id="userName" >
                    @Model.User.Name
                </li>

                <li contenteditable="@editable" id="userSurname">
                    @Model.User.Surname
                </li>
                <li contenteditable="@editable" id="userPhone">
                    @Model.User.PhoneNumber
                </li>
                <li contenteditable="@editable"id="userEmail"  >
                   
                    @Model.User.Email
                </li>

            </ul>
        </div>
    <script>
      
   
    </script>
    </body>
</html>