@model PRI_NaszSamochód.Models.FriendsView
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/userPage.css" />
        <title>Znajomi</title>
    </head>
    <body>
        <h1>Znajomi</h1>
        
        <div class="flex-cont">
            @foreach (var friend in @Model.Friends)
            {
                <div class="friendDisplay">
                    <div class="friendProfilePhoto" id="friendProfilePhoto" style="background-image:url(/ProfPhoto?userId=@friend.User2.Id")></div>
                    <ul class="friendDetails">
                        <li><span class="friendName">@friend.User2.Name @friend.User2.Surname</span></li>
                        <li><span class="amoutOfFriends">300 znajomych</span></li>
                    </ul>
                    <ul class="friendOptionSelect" id="friendOptionSelect">
                        <li>
                            <div>Znajomy</div>
                            <ul>
                                <li>
                                    <div id="@friend.User2.Id" ng-click="DeleteFriend($event)">Usuń ze znajomych</div></li>
                                <li>
                                    <div id="@friend.User2.Id" ng-click="ViewProfile($event)">Zobacz profil</div></li>
                                <li>
                                    <div>Wyślij wiadomość</div></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            }
        
        
        </div>


        <script>
            $.getScript("/Content/node_modules/jqueryui/jquery-ui.min.js",
            function (data, textStatus, jqxhr) {
                $('.friendOptionSelect').menu();
            });

        </script>
    </body>
</html>